<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-0">
                <h5 class="text-white"> Confira as redes sociais</h5>

            </div>
        </div>
        <div class="row col-md-12 d-flex justify-content-center">
            <ul class="social">
                <li><a href="https://www.facebook.com/raquel.borges.334/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/kelborges_/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/raquel-borges-sp/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="footer-copyright text-center bg-dark">
        <span>
            <p class="text-white p-1 m-0 fs-8">Desenvolvido por Raquel Borges. Todo os direitos reservados &copy;</p>
        </span>

    </div>

</footer>