.img-bg
{
    background-image: url(../../assets/img/book.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.fas
{
    font-size: 30pt;
    color: gray;
    padding-inline-start: 10px;
    padding-top: 10px;
}

label
{
    font-size: 10pt;
}
